*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 vienāda platuma kolonnas */
    gap: 20px; /* Starpkolonnu atstarpes */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    color: whitesmoke;
    min-height: 100%;  
}

main {
    grid-column: 2 / span 10;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

a:hover, li a:hover, .image-container .aicinajums a:hover {
    text-decoration: none;
    color: aqua;
}

a {
    color: white;
    text-decoration: none;
}
/* Main Content Styles */



h1 {
    align-self: end; /* Novieto tuvāk tekstam */
    margin-top: 10px; /* Mazākas atstarpes starp h1 un p */
    border: 1px dashed whitesmoke;
    margin: 0rem;
    padding: 1rem;
    width: 300px;
    font-size: 1.5rem;
}


p{
    text-transform:none; /* This applies to all paragraphs */
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0;
}



/* Header Styles */

header  {
    grid-column: 1 / span 12; /* Header aizņem visas 12 kolonnas */
    margin: 0rem 2rem;
    border:1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav {
    position: relative;
    z-index: 3;
    background-color: #1c1c1c;
    border:1px solid rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    overflow-wrap:inherit;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
    padding: 20px;
    text-align: right;
}


/* Navigation Styles */

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
    margin: 0 10px;
}

nav ul li a {
    padding: 22px;
    display: block;
}


/* Submenu Styles */
nav ul ul {
    display: none; /* Hide submenu by default */
    position: absolute;
    top: 100%; /* Position below the parent menu item */
    right: 0;
    z-index: 2; /* Ensure it appears above other elements */
    text-align: right;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    margin: 0; /* No margin for submenu items */
    width: 200px;
}
nav ul ul li a {
    padding: 10px 20px;
    display: block;
}


.image-container {
    position: relative; /* Lai absolūti pozicionētie elementi varētu izmantot šo konteineru */
    display: flex;
    flex-direction: column; /* Novieto elementus vertikāli */
    justify-content: center; /* Centrē saturu vertikāli */
    align-items: center; /* Centrē horizontāli */
    width: 100%; /* Pilns platums */
    overflow-x: hidden; /* Bloķē horizontālo ritināšanu */
}

.image-container img.Background {
    height: auto; /* Attēls pielāgojas, nezaudējot proporcijas */
    max-height: 100vh; /* Nepārsniedz ekrāna augstumu */
    width: 100%; /* Piemērots platums */
    object-fit: contain; /* Saglabā attēla proporcijas */
    display: block; /* Novērš nevēlamas atstarpi zem attēla */
    margin: 0; /* Noņem visus noklusējuma margin */
}

.image-container .aicinajums {
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.1); /* Optional for background overlay */
    padding: 20px;
    width:100%;
}


.image-container .aicinajums a {
    font-size: 1rem;
}


.zimols {
    position: absolute; /* Absolūta pozicionēšana attiecībā pret .image-container */
    top: 50%; /* Centrē vertikāli */
    left: 50%; /* Centrē horizontāli */
    transform: translate(-50%, -50%); /* Nodrošina, ka tas ir pilnīgi centrēts */
    width: 300px; /* Logotipa izmērs */
    z-index: 4; /* Pārliecinies, ka logotips ir virs fona attēla */
}

/*Par Studija 21mm*/

.par-studija-21mm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    align-content: flex-start;
    border: 1px solid rgb(255, 255, 255);
    justify-content: space-between;
    gap: 20px;
}

.left-side, .right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

  .left-side {
    display: grid;
    grid-template-columns: 1fr; /* 1 kolonna, kas aizņem visu pieejamo vietu */
    grid-template-rows:max-content; /* Automātiski pēc satura augstuma */
    max-width: 500px;
  }

  .right-side {
    display: grid;
    grid-template-columns: 1fr; /* 1 kolonna, kas aizņem visu pieejamo vietu */
    grid-template-rows:max-content; /* Automātiski pēc satura augstuma */
    max-width: none;
  }

  .teksts1, .teksts2 {
    display: flex;
    width: 100%;  /* Pilns platums */
    max-width: 500px; /* Maksimālais platums */
    height: 500px; /* Maksimālais augstums */
    color: whitesmoke; /* Teksta krāsa */
    position: relative; /* Lai varētu pozicionēt .cover-frame */
    border: 1px dashed whitesmoke;
    padding: 1rem;
    line-height: 2rem;
    text-align: justify;
    text-align-last: left;
    box-sizing: border-box;  /* Lai padding neietekmē platumu */
}

.dala1 {
    display: grid;
    grid-row: 1; /* Pārvieto uz pirmo rindu grid */
    grid-column: 1; /* Pārliecinies, ka tas ir pirmajā kolonnā */
    align-self: start; /* Novieto augšpusē */
    box-sizing: border-box;
}

.teksts1 {
    grid-row: 2; /* Pārvieto uz otro rindu zem h1 */
    grid-column: 1; /* Arī pirmajā kolonnā */
    align-self: start; /* Novieto augšpusē */

}

.dala2 {
    grid-row: 3; /* Pārvieto uz trešo rindu */
    
}

.teksts2 {
    grid-row: 4; /* Pārvieto uz otro rindu zem h1 */
    grid-column: 1; /* Arī pirmajā kolonnā */
    align-self: start; /* Novieto augšpusē */
}

.normal {
    text-transform: none; /* Override to keep this paragraph normal */
    text-align: center; /* Keep text centered if desired */
}

.image2-container {
    display: flex;
    height: 500px; /* Maksimālais augstums */
    background-color: rgb(0, 0, 0); /* Bloka fona krāsa */
    color: whitesmoke; /* Teksta krāsa */
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative; /* Lai varētu pozicionēt .cover-frame */
    overflow: hidden; /* Lai attēli nepārsniegtu konteineru */   
}

.image2 {
    position: absolute;  /* Pozicionē attēlu absolūti konteinera iekšpusē */
    top: 0;
    left: 0;
    width: 100%;         /* Attēls aizņem visu konteinera platumu */
    height: 100%;        /* Attēls aizņem visu konteinera augstumu */
    object-fit: cover;   /* Saglabā attēla proporcijas un piepilda konteineru */
}

.logo-kapseta {
    display: flex;           /* Flexbox izkārtojums logotipiem */
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    height: 500px;
    width: 100%;          /* Fiksēts augstums logo sekcijai */
    border: 1px dashed rgb(255, 255, 255); /* Redzams rāmis */
    flex-wrap: wrap; /* Atļauj logotipiem pārnesties nākamajā rindā */
    grid-template-columns: repeat(2, 1fr); /* Divas kolonnas logotipiem */
}

.logo {
    width: 100px;
    height: auto;
} 

.teksts2, .logo-kapseta{
    grid-row: 4;
    max-height: 500px;
    justify-content: center;   
}


/*Container - video-pakalpojumi*/
.video-container {
    display: flex; /* Izmanto flexbox izkārtojumu */
    flex-direction: row;
    width: 100%; /* Maksimālais konteineru platums */
    min-height: 100vh; /* Minimālais augstums */
    border: 1px solid rgb(255, 255, 255);
    align-items: center;
    flex-wrap: wrap; /* Atļauj elementiem pārklāties */
    align-content: space-evenly;
    justify-content: center; /* Centrē saturu horizontāli */
    gap: 20px;
}

.video-container .block {
    display: flex;
    max-width: 500px; /* Maksimālais platums */
    height: 500px; /* Maksimālais augstums */
    background-color: rgb(0, 0, 0); /* Bloka fona krāsa */
    color: whitesmoke; /* Teksta krāsa */
    font-size: 1.5rem; /* Teksta izmērs */
    margin: 0;
    width: 100%;
    justify-content: center;
    position: relative; /* Lai varētu pozicionēt .cover-frame */
    overflow: hidden; /* Lai attēli nepārsniegtu konteineru */
    gap: 20px;
}

.video-container .block:hover{
    border-color: aqua; /* Maina border krāsu uz hover */
    box-shadow: 0 0 16px 1px rgba(0, 255, 255, 0.3);
}

.cover-frame {
    position: relative;
    width: 500px; /* Fiksēts platums */
    height: 500px; /* Fiksēts augstums */
    overflow: hidden; /* Saglabā attēlu border ietvaros */
    border: 1px solid whitesmoke; /* Border līnija sākotnēji baltā krāsā */
    transition: border-color 0.3s ease; /* Gluda pāreja uz border krāsas maiņu */
    display: flex; /* Izmanto flexbox, lai centrētu saturu */
    flex-direction: column; /* Novieto saturu vertikāli */
    justify-content: center; /* Centrē saturu vertikāli */
    align-items: center; /* Centrē saturu horizontāli */
    text-align: center; /* Centrē tekstu */
    cursor: pointer;
}


.cover-frame a {
    display: flex; /* Izmanto flexbox, lai saturu centrētu */
    flex-direction: column; /* Novieto saturu vertikāli */
    justify-content: center; /* Centrē saturu vertikāli */
    align-items: center; /* Centrē saturu horizontāli */
    text-align: center; /* Centrē tekstu */
    color: inherit; /* Iedod krāsu no vecākiem elementiem */
    text-decoration: none; /* Noņem pasvītrojumu no saites */
}

.cover-frame h2 {
    margin: 10px 0; /* Attālums starp nosaukumu un attēlu */
    color: whitesmoke; /* Iestatiet krāsu, ja nepieciešams */
    position: absolute; /* Pozicionē nosaukumu virs attēla */
    top: 40%; /* Attālums no augšas */
    left: 50%; /* Horizontālā centrēšana */
    transform: translateX(-50%); /* Pārvietojiet uz kreiso pusi par pusi no platuma, lai centrētu */
    z-index: 1; /* Pārliecinieties, ka nosaukums ir virs attēla */
    transition: color 0.5s ease; /* Pievienots efekts krāsas maiņai */
    transition: font-size 0.3s ease; /* Pievienots pārejas efekts uz font-size */
}

.cover-frame img {
    width: auto; /* Aizpildīt visu pieejamo platumu */
    height: 500px; /* Aizpildīt visu pieejamo augstumu */
    object-fit: cover; /* Aizpildīt laukumu, saglabājot proporcijas */
    opacity: 50%;
    filter: saturate(0); /* Sākotnēji melnbalts */
    transition: filter 1s ease, transform 1s ease; /* Gluda pāreja uz hover efektu */
}

h2 {
    margin: 0rem;
    padding: 1rem;
    width: 300px; 
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
}

.cover-frame:hover{
    border-color: aqua;
    cursor: pointer; 
}

/* Teksta un saites krāsas maiņa uz hover */
.cover-frame:hover h2,
.cover-frame:hover h2 a {
    color: aqua; /* Maina tekstu un saites krāsu uz hover */
    text-decoration: none; /* Noņem pasvītrojumu no saites */
    font-size: 1.5rem; 
    transition: font-size 1s ease; /* Pievienots pārejas efekts uz font-size */
}

/* Efekts uz attēlu */
.cover-frame:hover img {
    filter: saturate(1); /* Krāsainais efekts uz hover */
    transform: scale(1.05); /* Neliels pietuvinājums */  
    
}


/*reklama*/

.video-reklama {
    border:1px solid rgb(255, 255, 255);
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr); /* Divas kolonnas */
    gap: 20px; /* Atstarpe starp video klipiem */
    max-width: 100%; /* Lai konteiners neaizņemtu vairāk par pieejamo platumu */
}

.video-item {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

video {
    width: 100%; /* Video aizņem visu pieejamo platumu katrā kolonā */
    display: block;
}


.cover-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tumša pārklājuma efekts */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    overflow: hidden; /* Saglabā attēlu border ietvaros */
    border: 1px solid whitesmoke; /* Border līnija sākotnēji baltā krāsā ar 2px biezumu */
    transition: border-color 0.3s ease; /* Gluda pāreja uz border krāsas maiņu */
}

.cover-photo:hover {
    border-color: aqua; /* Maina border krāsu uz hover */
    box-shadow: 0 0 16px 1px rgba(0, 255, 255, 0.3);
}
.cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0); /* Sākotnēji melnbalts */
    transition: filter 1s ease, transform 1s ease; /* Gluda pāreja uz hover efektu */
}

.cover-photo img:hover {
    filter: saturate(1); /* Krāsainais efekts uz hover */
    transform: scale(1.05); /* Neliels pietuvinājums */
}

.cover-photo:hover .play-button {
    color: aqua; /* Maina play-button krāsu, kad cover-photo tiek hoverēts */
}

/* Hover efekts, pievienojot krāsas un aqua apmali */
.cover-photo:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid aqua; /* Aqua apmale uz hover */
    pointer-events: none; /* Lai netraucē klikšķināt */
    box-sizing: border-box; /* Nodrošina, ka border ietilpst elementa robežās */
}

.cover-photo img:hover {
    filter: saturate(1); /* Krāsainais efekts uz hover */
    border-color: aqua; /* Maina apmales krāsu uz aqua */
}

.play-button {
    position: absolute;
    font-size: 0px;
    color: white;
    z-index: 3;
    transition: color 0.3s ease; /* Gluda pāreja uz krāsu maiņu */
}

/*kontakti*/


.contact-container {
    display: flex; /* Izmanto flexbox izkārtojumu */
    flex-direction: row;
    flex-wrap: wrap; /* Atļauj elementiem pārklāties */
    width: 100%; /* Maksimālais konteineru platums */
    min-height: 100vh; /* Minimālais augstums */
    border: 1px solid rgb(255, 255, 255);
    justify-content: center; /* Centrē saturu horizontāli */
    gap: 20px;
}

.left-section, .right-section {
    display: flex;
    max-width: 500px; /* Maksimālais platums */
    color: whitesmoke; /* Teksta krāsa */
    font-size: 1.5rem; /* Teksta izmērs */
    width: 100%;
    position: relative; /* Lai varētu pozicionēt .cover-frame */
    overflow: hidden; /* Lai attēli nepārsniegtu konteineru */
  
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrē elementus horizontāli */
    max-width: 500px;
    width: 100%;
    align-self: center;
}

.bilde-container {
    overflow: hidden; /* Slēpj pāri esošu bildes daļu */
    display: flex;
}  

.bilde-container img {
    width: 100%; /* Pielāgo bildes izmērus */
    height: 100%;
    object-fit: cover; /* Saglabā bildes proporcijas, lai aizpildītu kvadrātu */
    max-width: 500px;
    max-height: 500px;  
}

.left-section .bilde, .left-section .teksts3 {
    width: 100%; /* Bilde un teksts būs vienāda platuma */
    max-height: 500px; /* Maksimālais platums */
}

.left-section .bilde {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Nodrošina, ka bilde aizņem visu laukumu, saglabājot proporcijas */
    box-sizing: border-box;
    border: 1px solid whitesmoke; /* Piešķir 1px baltu rāmi */
}

.teksts3 {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: start;
    border: 1px dashed whitesmoke;
    max-width: 500px;
    padding: 1rem;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrē elementus horizontāli */
    max-width: 500px;
    width: 100%;
    align-self: center;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Attālums starp ievadlaukiem */
    width: 100%; /* Aizņem visu pieejamo platumu */
    max-width: 500px;
}

.row {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

label {
    font-size: 14px;
    color: whitesmoke;
    display: block;
    font-style: italic;
    margin-top: 10px;
    padding-bottom: 10px;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, textarea {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #555;
    color: whitesmoke;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

input:hover, textarea:hover {
    border-color: aqua; 
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 16px 1px rgba(0, 255, 255, 0.3);
}

input:focus, textarea:focus {
    border-color: aqua;  /* Aqua border when focused */
    outline: none;       /* Remove the default blue outline */
}

textarea {

    resize: vertical;
}

.full-width {
    flex-direction: column;
}

button {
    align-self: flex-end; /* Align the button to the left */
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid #555;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    border-color: aqua; 
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 16px 1px rgba(0, 255, 255, 0.3);
}

/* Footer Styles */
hr {
    margin: 20px 0;
}

footer {
    grid-column: span 12; /* Footer arī aizņem visas 12 kolonnas */
    position: sticky;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 1rem 0;
    z-index: 2;
}


/* Responsive Styles */
@media (max-width: 820px) {

    * {
        box-sizing: border-box; /* Nodrošina, ka padding un border ir daļa no platuma */
    }

    main {
        grid-column: 1 / span 12; /* Full width on mobile */
        margin: 0 auto; /* Centrē visu saturu */
        box-sizing: border-box;
    }

    body {
        padding: 10px; /* Less padding on mobile */
    }

    .input-group {
        width: 100%; /* Nodrošina, ka visi ievadlauki ir 100% platumā */
    }

    .col-8 {
        width: 100%;
        grid-column: 1 / span 12;
    }

    header {
        margin: 0;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
        justify-content: center;
    }

    header nav {
        display: flex;
        flex-direction: column; /* Stack menu vertically */
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px; /* Add some margin to ensure menu is below the social icons */
    }

    .zimols {
        position: absolute;
        left: 50%; /* Center it horizontally */
        transform: translate(-50%, -50%); /* Ensure it is perfectly centered */
        width: 30vw; /* Adjust intro text size */
    }

    nav ul {
        flex-direction: column; /* Stack menu items vertically */
        align-items: center;
        list-style: none; /* Remove bullet points */
        padding: 0;
    }

    nav ul ul {
    display: none;
    }
    
    nav ul li:hover > ul {
    color: aqua;
    display: none;
    }

    nav ul li {
        margin: 10px 0;
    }

    .social-media {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center social icons */
    margin-bottom: 10px; /* Add spacing between social icons and menu bar */
    }

    .social-media a {
    margin: 0 10px; /* Space out the icons horizontally */
    }

    .par-studija-21mm{
        flex-direction: column;
        grid-template-columns: 1fr; /* Viena kolonna - visi elementi viens zem otra */
    
    }

    .left-side, .right-side {
        max-width: 100%;

      }

    .logo-kapseta{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Allow logos to wrap on smaller screens */
    }

    .teksts1, .teksts2, .image2-container, .logo-kapseta {
        max-width: 100%;
        width: 100%; /* Atļauj 100% platumu */
        height: auto; /* Augstums pielāgojas satura augstumam */
    }

    .image2-container, .logo-kapseta {
        flex-direction: column; /* Pārliecinies, ka tie izkārtojas vertikāli */
    }

    .video-reklama{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .video-item{
        flex: 1 1 auto;  
    }

    .contact-container{
    align-content: flex-start;
    }

}
    

@media (max-width: 480px) {

    header {
        margin: 0;
    }   

    main {
    margin:0px;
    }

    h1 {
        margin: 0px;
    }

header nav {
        flex-direction: column; /* Stack header elements vertically */
        align-items: center; /* Align elements to the left */
        flex-wrap: wrap;
        
    }

nav ul ul {
        display: none; /* Consider implementing a mobile menu instead */
    }

    .video-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .video-container .block{
        flex: 1 1 auto;  
    }

    .zimols {
        width: 30vw; /* Make the logo smaller on mobile screens */
    }

    .centered-text {
        font-size: 6vw; /* Adjust text size on mobile screens */
    }

    .intro {
        font-size: 4vw; /* Adjust intro text size */
    }
    
    .teksts, h1 {
        width: auto;
    }

    .contact-container{
        align-content: flex-start;
        }
    
}

